@import '../../scss/variables';

body.blur main > * {
  filter: blur(5px) brightness(0.7);
  transition: $transition;
  pointer-events: none;
  user-select: none;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $default-font;
  background-color: #495867;

  .container {
    margin: 5vw;
    color: $primary-color;
  }
  
  p {
    font-size: 1.25em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 0 1vh;
  }
  
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  @media #{$mq-small} {
    .container {
      margin: 5vw 10vw;
    }

    section {
      padding: 5vh;
    }
  }

  section {
    padding: 1vh;
    color: #F9F7F1;
  }
}