@import '../../scss/variables';

#footer {
  color: $color-text;
  text-align: left;

  section {
    background-color: $color-accent-5;
  }
  
  p {
    font-size: 1em;
  }
}

#socials {
  a {
    margin-right: 1em;
  }
}