@import 'scss/variables';

html {
  scroll-behavior: smooth
}

body {
  margin: 0;
  background-color: $color-bg;
  background-image: url("./assets/tile.png");
  background-size: 175px;
	font-family: $font-default;

  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.blur {
		overflow: hidden;
	}
}

html, body, #root, #home {
  height: 100%;
}

main {
  flex: 1 0;
  display: flex;
  flex-flow: column;
}

code {
  font-family: $font-code;
}
