@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$color-bg: #f9f7f1;
$color-bg-a25: rgba(249, 247, 241, 0.25);
$color-bg-a85: rgba(249, 247, 241, 0.85);
$color-accent-1: #0e7c7b;
$color-accent-2: #495867;
$color-accent-2-a90: rgba(73, 88, 103, 0.9);
$color-accent-3: #391463;
$color-accent-3-a90: rgba(57, 20, 99, 0.9);
$color-accent-4: #a4104b;
$color-accent-4-a90: rgba(164, 16, 75, 0.9);
$color-accent-5: #3d3e39;
$color-text: #f9f7f1;
$color-selection: #b7c9ff;
$color-shadow: rgba(54, 20, 0, 0.2);
$font-default: Montserrat, sans-serif;;
$font-code: 'Source Code Pro', monospace;

$margin-container-lr-1: 10vw;
$margin-container-lr-2: 5vw;
$margin-container-tb: 5vh;

// Breakpoints
$bp-xsmall: 600px; // 48em
$bp-small: 768px; // 48em
$bp-medium: 1024px; // 64em
$bp-large: 1366px; // 85.375em
$bp-xlarge: 1920px; // 120em
$bp-xxlarge: 2560px; // 160em

// Media Queries
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Misc
$nav-scroll-height: 70px;
$nav-aside-color: #3D3E39;
$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);